name: depoly
on:
  pull_request_target:
    types: closed
permissions:
  id-token: write
  contents: read
jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: np-complete/build-book-action@3c851008c5ac01708af260fc809fcf7294a5dcf0 # v2
      - uses: np-complete/publish-book-action@08a80ee532be432d973aad4a47efc1cf1a3ddd8e # v2
