name: depoly
on:
  pull_request_target:
    types: closed
permissions:
  id-token: write
  contents: read
jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: np-complete/build-book-action@3c851008c5ac01708af260fc809fcf7294a5dcf0 # v2
      - uses: np-complete/publish-book-action@08a80ee532be432d973aad4a47efc1cf1a3ddd8e # v2
